@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


@theme {
    --color-accent: #00ff99;
    --color-accent-hover: #00e187;
    --color-primary: #1c1c22;
    --font-primary: "JetBrains Mono", serif;
}

body {
    @apply font-primary bg-primary text-white leading-loose;

}