@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


@theme {
    --color-accent: #00ff99;
    --color-accent-hover: #00e187;
    --color-primary: #1c1c22;
    --font-primary: "JetBrains Mono", serif;
}

body {
    @apply font-primary bg-primary text-white leading-loose;

}

.text-outline {
    -webkit-text-stroke: 1px #ffffff;
}



.text-outline-hover {
    -webkit-text-stroke: 1px #00ff99;
}

.card::after {
    content: "";
    position: absolute;
    top: 150%;
    left: -275px;
    width: 120%;
    transform: rotate(50deg);
    background-color: #5dba79;
    height: 18px;
    filter: blur(30px);
    opacity: .5;
    transition: 1s ease;
}

.card:hover::after {
    width: 240%;
    top: -100%;
}


    .bg-contact-form {
        position: relative;

        background: repeating-conic-gradient(from 35.5deg, #00ff99 0%, #00ff99 10%, transparent 10%, transparent 50%);
        padding: 5%;


    }

    .bg-contact-form::before {
        position: absolute;
        content: "";
        inset: 0;
        background: repeating-conic-gradient(from 110.5deg, #00ff99 0%, #00ff99 10%, transparent 10%, transparent 50%);
    }

    .bg-contact-form::after {
        position: absolute;
        content: "";
        inset: 2px;
        border: 20px solid;
        border-color: white;
        background: rgb(248, 250, 252);
    }

     .bg-contact-form::after {
        border-color: #1c1c22;
        background: #222;
    }

    .bg-contact-icon {
        position: relative;
        width: 50px;
        background: repeating-conic-gradient(from 35.5deg, #00ff99 0%, #00ff99 10%, transparent 10%, transparent 50%);
        display: flex;
        justify-content: center;
        align-items: center;



    }

    .bg-contact-icon::before {
        position: absolute;
        content: "";
        inset: 0;
        background: repeating-conic-gradient(from 100.5deg, #00ff99 0%, #00ff99 10%, transparent 10%, transparent 50%);
    }

    .bg-contact-icon::after {
        position: absolute;
        content: "";
        inset: 2px;
        border: 5px solid;
        border-color: white;
        background: #00ff99;
    }

     .bg-contact-icon::after {
        border-color: #1c1c22;
    }